{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
{% load staticfiles %}
{% load tags %}
<div class="page-header">
  <h1>My Profile</h1>
</div>
<img src="{% static "img/profile.jpg" %}" class="img-polaroid pull-left">
<div class="pull-left">
  <p>Username: {{ user.get_username }}</p>
  <p>Age: {{ user.userprofile.birth_date|age }}</p>
  <p>Gender: {{ user.userprofile.gender|upper }}</p>
  <p>User since: {{ user.date_joined }}</p>
</div>
<div id="calendar"></div>
{% endblock %}
